:root {
  --primary-color: #1a8fd3;
  --primary-color-bold: #063868;
  --primary-color-opacity: #e6f4ff;

  --secondary-color: #62a4ca;
  --secondary-color-bold: #334d64;
  --secondary-color-opacity: #e6f4ff;
  --screen-color: #EDEDED;
}